#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chatmix
Exec=/usr/bin/biglinux-webapp --class="chatmix.com.br,Firefox" --profile-directory=Default --app=https://chatmix.com.br
Icon=/usr/share/icons/hicolor/128x128/apps/chatmix.png
StartupWMClass=chatmix.com.br
Categories=Network;WebBrowser;
