#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chatmix
Exec=/usr/share/bigbashview/bcc/apps/biglinux-webapps/assets/firefox/bin/uaiso-webapp-chatmix-firefox
Icon=/usr/share/icons/hicolor/128x128/apps/chatmix.png
Categories=Network;WebBrowser;
